In [3]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 137 kB/s eta 0:00:012   |███▎                            | 28.5 MB 1.8 MB/s eta 0:02:24
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 1.7 MB/s eta 0:00:01
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=b49fb3e832ec7b26aeb0aeb177558307de648b9208e6ffde82b3220e52748523
  Stored in directory: /Users/kangchinshen/Library/Caches/pip/wheels/1d/27/68/1382001655ef41217e1dd34d59aa777612135379bab64279e9
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pyspark

In [19]:
import pandas as pd
df_pandas=pd.read_csv('test1.csv')

In [32]:
# Create Spark session
from pyspark.sql import SparkSession 
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [34]:
# Only one cluster is running on local ; Multiple clusters can be ran on the cloud
# Check if the session has been created successfully 
spark

In [31]:
# Read CSV file in pyspark
df_pyspark=spark.read.csv('test1.csv')

In [30]:
df_pyspark

DataFrame[Name: string, Age: string]

In [27]:
# Show the pyspark dataframe
df_pyspark.show()

+--------+---+
|    Name|Age|
+--------+---+
|   Krish| 31|
|Sudhansh| 30|
|    Suny| 29|
+--------+---+

In [15]:
# Instructs the pyspark engine to read the first row as column header
df_pyspark=spark.read.option('header', 'true').csv('test1.csv')

In [29]:
# Show the new pyspark dataframe
df_pyspark.show()

+--------+---+
|    Name|Age|
+--------+---+
|   Krish| 31|
|Sudhansh| 30|
|    Suny| 29|
+--------+---+

In [24]:
# Show the type of pyspark dataframe
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [23]:
# Show the type of pandas dataframe
type(df_pandas)

pandas.core.frame.DataFrame

In [22]:
# Show the first 3 rows of 
df_pyspark.head(3)

[Row(Name='Krish', Age='31'),
 Row(Name='Sudhansh', Age='30'),
 Row(Name='Suny', Age='29')]

In [33]:
 # Show meta information of the dataframe
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)