In [2]:
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Filter Operations').getOrCreate()

In [3]:
spark

In [4]:
df_pyspark=spark.read.csv('test2.csv', header=True, inferSchema=True)

In [5]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [6]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|   Krish|  31|        10| 30000|
|Sudhansh|  30|         8| 25000|
|    Suny|  29|         4| 20000|
|    Paul|  24|         3| 20000|
|  Harsha|  21|         1| 15000|
| Shubham|  23|         2| 18000|
|  Mahesh|null|      null| 40000|
|    null|  34|        10| 38000|
|    null|  36|      null|  null|
+--------+----+----------+------+

In [7]:
df_pyspark=df_pyspark.na.drop()

In [8]:
df_pyspark.show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|   Krish| 31|        10| 30000|
|Sudhansh| 30|         8| 25000|
|    Suny| 29|         4| 20000|
|    Paul| 24|         3| 20000|
|  Harsha| 21|         1| 15000|
| Shubham| 23|         2| 18000|
+--------+---+----------+------+

In [13]:
# Filter Operations in pyspark
# df_pyspark.filter('Salary<=20000').select(['Name','Salary']).show()

# OR we can write the filter condition following pandas convention
df_pyspark.filter(df_pyspark['Salary']<=20000).select(['Name','Salary']).show()

+-------+------+
|   Name|Salary|
+-------+------+
|   Suny| 20000|
|   Paul| 20000|
| Harsha| 15000|
|Shubham| 18000|
+-------+------+

In [15]:
# Multiple filter conditions in pyspark : & | ~
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).select(['Name','Salary']).show()

+--------+------+
|    Name|Salary|
+--------+------+
|   Krish| 30000|
|Sudhansh| 25000|
+--------+------+